<a href="https://colab.research.google.com/github/cfretes/cfretes/blob/main/Modelo_Smoking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar Librerías necesarias para el Modelo

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Conectar mi drive para la carga de dataframes

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Crear variable DataFrame1 al cargar smoking_prediction.xlsx

In [10]:
dataframe1 = pd.read_csv('/content/drive/MyDrive/UOCCB/Diplomatura_IA_UP/TP2/smoking_prediction.xlsx - smoking_prediction.csv')

Visualizar smoking_prediction.xlsx a partir de DataFrame1

In [17]:
dataframe1

,ID,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),...,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,tartar,smoking
0,0,F,40,155,60,3.38,0.04,0.04,0.04,0.04,...,5.25,0.51,0.04,0.00,0.75,0.79,1.13,0,Y,0
1,1,F,40,160,60,3.38,0.01,0.00,0.04,0.04,...,5.29,0.50,0.04,0.00,0.92,0.79,0.75,0,Y,0
2,2,M,55,170,60,3.33,0.01,0.01,0.04,0.04,...,6.29,0.63,0.04,0.04,0.88,0.67,0.92,0,N,1
3,3,M,40,165,70,3.67,0.05,0.05,0.04,0.04,...,9.42,0.59,0.04,0.04,0.79,1.08,0.75,0,Y,0
4,4,F,40,155,60,3.58,0.04,0.04,0.04,0.04,...,4.46,0.50,0.04,0.00,0.67,0.58,0.92,0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,27343,M,50,160,55,2.96,0.00,0.01,0.04,0.04,...,3.04,0.55,0.04,0.04,0.96,0.58,0.92,0,Y,1
49996,27350,M,30,170,70,3.33,0.05,0.04,0.04,0.04,...,3.21,0.63,0.04,0.01,1.08,1.21,0.75,1,Y,1
49997,27351,M,20,165,65,3.54,0.05,0.05,0.04,0.04,...,2.21,0.67,0.04,0.01,1.46,1.46,2.92,0,Y,1
49998,27352,F,60,160,45,2.96,0.00,0.00,0.04,0.04,...,4.13,0.58,0.04,0.00,0.79,0.67,1.04,1,Y,0
49999,27354,M,45,170,80,4.00,0.05,0.04,0.04,0.04,...,5.04,0.63,0.04,0.04,1.17,1.71,2.58,1,N,1

In [12]:
dataframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   50000 non-null  int64
 1   gender               50000 non-null  object
 2   age                  50000 non-null  int64
 3   height(cm)           50000 non-null  int64
 4   weight(kg)           50000 non-null  int64
 5   waist(cm)            50000 non-null  float64
 6   eyesight(left)       50000 non-null  float64
 7   eyesight(right)      50000 non-null  float64
 8   hearing(left)        50000 non-null  float64
 9   hearing(right)       50000 non-null  float64
 10  systolic             50000 non-null  float64
 11  relaxation           50000 non-null  float64
 12  fasting blood sugar  50000 non-null  float64
 13  Cholesterol          50000 non-null  float64
 14  triglyceride         50000 non-null  float64
 15  HDL                  50000 non-null  float64
 16  LDL                  50000 non-null  float64
 17  hemoglobin           50000 non-null  float64
 18  Urine protein        50000 non-null  float64
 19  serum creatinine     50000 non-null  float64
 20  AST                  50000 non-null  float64
 21  ALT                  50000 non-null  float64
 22  Gtp                  50000 non-null  float64
 23  oral                 50000 non-null  object
 24  dental caries        50000 non-null  int64
 25  tartar               50000 non-null  object
 26  smoking              50000 non-null  int64
dtypes: float64(18), int64(6), object(3)
memory usage: 10.3+ MB

Visualizar variable "oral"

In [13]:
display(dataframe1['oral'].value_counts())

oral
Y    50000
Name: count, dtype: int64

In [16]:
dataframe1 = dataframe1.drop('oral', axis=1)
display(dataframe1.head())

KeyError: "['oral'] not found in axis"